pyrogram==2.0.106
TgCrypto==1.2.5
pymongo
PyPDF2
python-dotenv
PyMuPDF
Pillow
numpy
humanize
img2pdf
requests
motor
aiohttp
pikepdf==8.11.1
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1

